@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Fira Code', sans-serif;
	--font-mono: 'Fira Code', monospace;

	--color-pattern-bg: #1e1e2e;
	--color-pattern-text: #cdd6f4;
	--color-pattern-empty: #313244;
	--color-pattern-empty-selected: #45475a;
	--color-pattern-note: #89b4fa;
	--color-pattern-instrument: #b4befe;
	--color-pattern-effect: #f9e2af;
	--color-pattern-envelope: #a6e3a1;
	--color-pattern-noise: #45475a;
	--color-pattern-header: #181825;
	--color-pattern-selected: #313244;
	--color-pattern-cell-selected: #45475a;
	--color-pattern-row-num: #89b4fa;
	--color-pattern-row-num-alternate: #a5c9ff;
	--color-pattern-alternate: #181825;
	--color-pattern-alternate-empty: #1e1e2e;
	--color-pattern-table: #a6e3a1;
	--color-pattern-editing: #a6e3a1;
	--color-pattern-note-off: #f38ba8;
}

/* Hide number input spinners/steppers */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

/* Hide default select dropdown arrow */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

::-webkit-scrollbar {
	@apply h-2.5 w-2;
}

::-webkit-scrollbar-track {
	@apply !bg-[#1e1e2e];
}
::-webkit-scrollbar-thumb {
	@apply rounded-sm !bg-[#45475a];
}

::-webkit-scrollbar-thumb:hover {
	@apply !bg-[#585b70];
}

html {
	scrollbar-color: #45475a #1e1e2e;
	background: #1e1e2e;
}
