@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Fira Code', sans-serif;
	--font-mono: 'Fira Code', monospace;

	--color-pattern-bg: #1a1b26;
	--color-pattern-text: #a9b1d6;
	--color-pattern-empty: #24283b;
	--color-pattern-empty-selected: #2f3549;
	--color-pattern-note: #7aa2f7;
	--color-pattern-instrument: #bb9af7;
	--color-pattern-effect: #7dcfff;
	--color-pattern-envelope: #2ac3de;
	--color-pattern-noise: #565f89;
	--color-pattern-header: #1f2335;
	--color-pattern-selected: #292e42;
	--color-pattern-cell-selected: #3b4261;
	--color-pattern-row-num: #7aa2f7;
	--color-pattern-row-num-alternate: #9aa5ce;
	--color-pattern-alternate: #16161e;
	--color-pattern-alternate-empty: #1f2335;
	--color-pattern-table: #73daca;
	--color-pattern-editing: #9ece6a;
}

/* Hide number input spinners/steppers */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

/* Hide default select dropdown arrow */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

::-webkit-scrollbar {
	@apply h-2.5 w-2;
}

::-webkit-scrollbar-track {
	@apply !bg-neutral-900;
}
::-webkit-scrollbar-thumb {
	@apply rounded-sm !bg-neutral-500;
}

html {
	scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
}
